<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="meta :: meta">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.5.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js" type="text/javascript"></script>
</head>

<body>

    <div class="container">

        <!--Navbar-->
        <div th:replace="navbars :: navbar_home"></div>

        <!--Page Header-->
        <div th:replace="headers :: header_home"></div>

        <!--Filter buttons-->
        <div th:replace="button_groups :: filter_buttons_home"></div>

        <!--Listing products-->
        <div th:replace="products_listings :: homepage_listing"></div>

        <!--Modal_registration-->
        <div th:replace="modals :: modal_home"></div>

        <!--Modal_login-->
        <div th:replace="modals :: modal_login"></div>


    </div>
</body>
</html>