<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="meta :: meta">
</head>

<body>
    <div class="container">

        <!--Navbar-->
        <div th:replace="navbars :: navbar_home"></div>

        <!--Page Header-->
        <div th:replace="headers :: header_home"></div>

        <!--Filter buttons-->
        <div th:replace="button_groups :: filter_buttons_home"></div>

        <!--Listing products-->
        <div th:replace="products_listings :: homepage_listing"></div>

        <!--Modal-->
        <div th:replace="modals :: modal_home"></div>

    </div>
</body>
</html>