<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="meta">
</head>
<body>
    <div class="container">

        <!--Navbar-->
        <div th:replace="navbars :: navbar_shopping_cart"></div>

        <!--Page Header-->
        <div th:replace="headers :: header_shopping_cart"></div>

        <!--Main-->
        <div th:replace="products_listings :: cart_listing"></div>

        <div class="jumbotron">
            <h2 id="total" th:text="'Total Price: ' + ${total} + ' USD'"></h2>
        </div>

    </div>
</body>
</html>
