<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
    <!--Header on Homepage-->
    <div th:fragment="header_home">
        <section class="jumbotron text-xs-center">
            <div class="container">
                <h1 class="jumbotron-heading">Codecool Shop</h1>
                <p class="lead text-muted">Choose this world-leading web shop to satisfy your needs. Don't hesitate to contact us if you need anything else.</p>
            </div>
        </section>
    </div>

    <!--Header on Shopping Cart page-->
    <div th:fragment="header_shopping_cart">
        <div class="jumbotron text-center">
            <h1>Shopping Cart</h1>
        </div>
    </div>
</body>
</html>