<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
    <!--Navbar_home-->
    <div th:fragment="navbar_home">
        <nav class="navbar navbar-fixed-top">
            <div class="container-fluid navbar-right">
                <div class="navbar-header">
                    <div class="navbar-header">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                            Registration
                        </button>
                        <!-- Button redirect shopping cart -->
                        <a class="navbar-brand" th:href="'/shoppingcart'">
                            <i class="fa fa-shopping-cart fa-1x" aria-hidden="true"></i>
                            <span class="badge" th:text="${cart}"></span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <!--Navbar_shopping_cart-->
    <div th:fragment="navbar_shopping_cart">
        <nav class="navbar navbar-fixed-top">
            <div class="container-fluid navbar-right">
                <div class="navbar-header">
                    <div class="navbar-header">
                        <a class="navbar-brand" th:href="'/'">
                            <i class="fa fa-home fa-1x" aria-hidden="true"></i>
                            <span class="badge">Back</span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>